body    {
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/email-pattern.png');
    background-repeat: repeat;
    background-size: 100%;
}

.logo {
    width: 294px;
    height: 63px;
    position: absolute;
    top: 85px;
    left: 85px;
    z-index: 1;
}

.title  {
    border-width: 200px;;
    text-align: center;
}

h1  {
    font-size: 40px;
    color: red;
}

h2 {
    font-size: 35px;
    color: red;
}

h4  {
    color: red;
    font-size: 20px;
}

h1:hover  {
    color: silver;
}

h2:hover  {
    color: silver;
}

h4:hover  {
    color: silver;
}

.searchBar  {
    height: 20px;
    margin-left: 125px;
    width: 200px;
    height: 18px;
    border: 1px solid red;
    margin-right: 20px;
    box-shadow: 5px;
}

.searchBar:hover    {
    border-color: silver;
}

.searchButton, 
.clearButton {
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
    width: 60px;
    height: 20px;
    margin: 5px;
}

.bothButtons    {
    display: flex;
}

.searchButton:hover {
    background-color: silver;
    width: 100px;
}
.clearButton:hover    {
    background-color: silver;
    width: 100px;
}

.parent {
    margin: 0 auto;
    text-align: center;
}

img     {
    width: 300px;
    height: 168px;
    margin-left: 4px;
}

img:hover {
    opacity: .7;
    cursor: pointer;
}

/* MODAL */